<!DOCTYPE html>
<html ng-app='pokemonApp'>
<head>
  <meta charset="utf-8">
  <title>Pokemon Battle!</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script> -->
  <script type="text/javascript" src="bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="mock_data.js"></script>
  <script type="text/javascript" src="base.js"></script>
</head>
<body ng-controller="PokemonCtrl">

  <img ng-src="{{image_src}}">
  <span ng-repeat="p in pokemon">
    <a ng-href="#{{p.name.text}}"
       ng-click="setImage(p.image.href)"> {{ p.name.text }} </a>
  </span>
</body>
</html>
