<!DOCTYPE html>
<html ng-app='pokemonApp'>
<head>
  <meta charset="utf-8">
  <title>Pokemon Battle!</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script> -->
  <script type="text/javascript" src="bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="mock_data.js"></script>
  <script type="text/javascript" src="base.js"></script>
</head>
<body ng-controller="PokemonCtrl">

  <h3 ng-hide="image1">CHOOSE YOUR POKEMON!</h3>

  <div>
    <img ng-src="{{image1}}" ng-show="image1">
    <img ng-src="{{image2}}" ng-show="image2">
    <button ng-show="image2"
            ng-click="fight()">FIGHT!</button>
  </div>

  <span ng-repeat="p in pokemon" ng-if="p.name.text">
    <a ng-href="#{{p.name.text}}"
       ng-click="iChooseYou(p)"> {{ p.name.text }} </a>
  </span>

</body>
</html>
